<i (click)="openDialog()"  class="pi pi-user" style="font-size: 2rem"></i>

<p-dialog [(visible)]="display" modal="true" header="Detailed View" appendTo="body" [style]="{ width: '80vw', height: '80vh' }" [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [maximizable]="true">
    <ng-container *ngComponentOutlet="dynamicComponent; inputs: { invoiceId: id }"></ng-container>
  <ng-container *ngIf="!dynamicComponent">
    <div>
      <p>Loading component...</p>
    </div>
  </ng-container>
  <button pButton type="button" (click)="display = false" label="Close">Close</button>
</p-dialog>