<div class="card flex flex-col items-center overflow-hidden">
  <div class="w-full items-center gap-2">
    <!-- hero section 1 -->
    <section
      class="relative bg-[url(https://images.unsplash.com/photo-1604014237800-1c9102c219da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80)] bg-cover bg-center bg-no-repeat">
      <div
        class="absolute inset-0 bg-gray-900/75 sm:bg-transparent sm:from-gray-900/95 sm:to-gray-900/25 ltr:sm:bg-gradient-to-r rtl:sm:bg-gradient-to-l">
      </div>

      <div class="relative mx-auto max-w-screen-xl px-4 py-32 sm:px-6 lg:flex lg:h-screen lg:items-center lg:px-8">
        <div class="max-w-xl text-center ltr:sm:text-left rtl:sm:text-right">
          <h1 class="text-3xl font-extrabold text-white sm:text-5xl">
            Let us find your

            <strong class="block font-extrabold text-rose-500"> Forever Home. </strong>
          </h1>

          <p class="mt-4 max-w-lg text-white sm:text-xl/relaxed">
            Shivam Electronics,Home solution
          </p>

          <div class="mt-8 flex flex-wrap gap-4 text-center">
            <a
              class="block w-full rounded-sm bg-rose-600 px-12 py-3 text-sm font-medium text-white shadow-sm hover:bg-rose-700 focus:ring-3 focus:outline-hidden sm:w-auto">
              Get Started
            </a>

            <a
              class="block w-full rounded-sm bg-white px-12 py-3 text-sm font-medium text-rose-600 shadow-sm hover:text-rose-700 focus:ring-3 focus:outline-hidden sm:w-auto">
              Learn More
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- hero section -->
  <div class="h-[7rem]"></div>
  <div class="flex flex-wrap justify-center gap-8">
    <div pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-l-8 animate-duration-1000"
      leaveClass="animate-leave fade-out-0"
      class="flex flex-col border border-surface shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4">
      <div class="rounded-full bg-primary text-primary-contrast w-12 h-12 flex items-center justify-center">
        <i class="pi pi-user !text-2xl"></i>
      </div>
      <span class="text-2xl font-bold">Individual</span>
      <span class="text-muted-color text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
    <div pAnimateOnScroll enterClass="animate-enter fade-in-10 animate-duration-1000"
      leaveClass="animate-leave fade-out-0"
      class="flex flex-col border border-surface shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4">
      <div class="rounded-full bg-primary text-primary-contrast w-12 h-12 flex items-center justify-center">
        <i class="pi pi-users !text-2xl"></i>
      </div>
      <span class="text-2xl font-bold">Team</span>
      <span class="text-muted-color text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
    <div pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-r-8 animate-duration-1000"
      leaveClass="animate-leave fade-out-0"
      class="flex flex-col border border-surface shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4">
      <div class="rounded-full bg-primary text-primary-contrast w-12 h-12 flex items-center justify-center">
        <i class="pi pi-building !text-2xl"></i>
      </div>
      <span class="text-2xl font-bold">Enterprise</span>
      <span class="text-muted-color text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
  </div>
  <div class="h-[8rem]"></div>
  <div class="flex flex-wrap justify-center gap-8">
    <div pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-t-20 animate-duration-1000"
      leaveClass="animate-leave fade-out-0"
      class="flex flex-col border border-primary-200 shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4">
      <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" shape="circle"
        size="xlarge" />
      <span class="text-2xl font-medium">Jenna Thompson</span>
      <span class="text-muted-color text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>

    <div pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-b-20 animate-duration-1000"
      class="flex flex-col border border-primary-200 shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4">
      <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/asiyajavayant.png" shape="circle"
        size="xlarge" />
      <span class="text-2xl font-medium">Isabel Garcia</span>
      <span class="text-muted-color text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
    <div pAnimateOnScroll enterClass="animate-enter fade-in-10 slide-in-from-t-20 animate-duration-1000"
      class="flex flex-col border border-primary-200 shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4">
      <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/onyamalimba.png" shape="circle"
        size="xlarge" />
      <span class="text-2xl font-medium">Xavier Mason</span>
      <span class="text-muted-color text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
  </div>
  <div class="h-[8rem]"></div>
  <div class="flex flex-wrap justify-center gap-8">
    <div pAnimateOnScroll enterClass="animate-enter fade-in-10 spin-in-45 slide-in-from-t-12 animate-duration-1000"
      class="flex flex-col bg-primary text-primary-contrast border-primary shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4">
      <span class="bg-white/20 text-xl font-medium rounded-xl px-4 py-2">850K</span>
      <span class="text-2xl font-bold">Customers</span>
      <span class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
    <div
      pAnimateOnScroll="{ enterClass: 'animate-enter fade-in-10 zoom-in-50 slide-in-from-t-20 animate-duration-1000' }"
      class="flex flex-col bg-primary text-primary-contrast border-primary shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4">
      <span class="bg-white/20 text-xl font-medium rounded-xl px-4 py-2">$1.5M</span>
      <span class="text-2xl font-bold">Revenue</span>
      <span class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
    <div pAnimateOnScroll
      enterClass="animate-enter fade-in-10 spin-in-[-45deg] slide-in-from-t-16 animate-duration-1000"
      class="flex flex-col bg-primary text-primary-contrast border-primary shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4">
      <span class="bg-white/20 text-xl font-medium rounded-xl px-4 py-2">140K</span>
      <span class="text-2xl font-bold">Sales</span>
      <span class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
  </div>
  <div class="h-[30rem]"></div>
  <div class="flex flex-wrap justify-center gap-8">
    <div pAnimateOnScroll enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
      class="flex flex-col bg-purple-500 text-white border-purple-500 shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4">
      <div class="rounded-full border-2 border-white w-12 h-12 flex items-center justify-center">
        <i class="pi pi-wifi !text-2xl"></i>
      </div>
      <span class="text-2xl font-bold">Bandwidth</span>
      <span class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
    <div pAnimateOnScroll enterClass="animate-enter fade-in-10 zoom-in-75 animate-duration-1000"
      class="flex flex-col bg-teal-500 text-white border-teal-500 shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4">
      <div class="rounded-full border-2 border-white w-12 h-12 flex items-center justify-center">
        <i class="pi pi-database !text-2xl"></i>
      </div>
      <span class="text-2xl font-bold">Storage</span>
      <span class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
    <div pAnimateOnScroll enterClass="animate-enter fade-in-10 zoom-in-50 animate-duration-1000"
      class="flex flex-col bg-indigo-500 text-white border-indigo-500 shadow-lg justify-center items-center max-w-80 rounded-2xl p-8 gap-4">
      <div class="rounded-full border-2 border-white w-12 h-12 flex items-center justify-center">
        <i class="pi pi-arrows-v !text-2xl"></i>
      </div>
      <span class="text-2xl font-bold">Requests</span>
      <span class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
    </div>
  </div>
</div>


<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

<!-- <app-keenslidercommon [slidesData]="slides" [thumbnailPerView]="3" [thumbnailSpacing]="5">
  <ng-template let-slide slide-content>
    <strong>Slide Content: {{ slide.content }}</strong>
    <p>Description: {{ slide.description }}</p>
  </ng-template>
  <ng-template let-slide thumbnail-content>
    Thumbnail: {{ slide.thumbnailContent }}
  </ng-template>
</app-keenslidercommon> -->