<div class="w-full m-2 py-8 px-6 sm:px-8 lg:px-12">
  <div class="bg-white rounded-2xl shadow-xl overflow-hidden flex flex-col lg:flex-row min-h-screen">
    <div class="hidden w-full lg:block lg:w-1/2 bg-cover bg-center"
      style="background-image: url('https://static2.realme.net/images/realme-narzo-70x/experience/pc-08-MatrixSystem2.0.jpg')">
    </div>

    <div class="w-full lg:w-1/2 flex items-center justify-center p-8">
      <div class="bg-white rounded-2xl shadow-xl p-8 w-full max-w-md">
        <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl">
          <span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Sign Up</span>
        </h1>
        <p class="mb-6 text-gray-600">Create your account. It's free and only takes a minute.</p>
        <form [formGroup]="signupForm" (ngSubmit)="signUp()">
          <div class="space-y-4">
            <div>
              <label for="name" class="block text-sm font-medium text-gray-700">Full Name</label>
              <input type="text" id="name" formControlName="name" placeholder="John Doe" required
                class="mt-1 block w-full px-3 py-2 bg-gray-700 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-purple-500 focus:border-purple-500" />
              @if (signupForm.get('name')?.invalid && (signupForm.get('name')?.dirty ||
              signupForm.get('name')?.touched)) {
              <div class="text-red-500 text-sm">
                @if (signupForm.get('name')?.errors?.['required']) {
                <div>
                  Full Name is required.
                </div>
                }
              </div>
              }
            </div>
            <div>
              <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
              <input type="email" id="email" formControlName="email" placeholder="john@example.com" required
                class="mt-1 block w-full px-3 py-2 bg-gray-700 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-purple-500 focus:border-purple-500" />
              @if (signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty ||
              signupForm.get('email')?.touched)) {
              <div class="text-red-500 text-sm">
                @if (signupForm.get('email')?.errors?.['required']) {
                <div>
                  Email is required.
                </div>
                }
                @if (signupForm.get('email')?.errors?.['email']) {
                <div>
                  Email must be a valid email address.
                </div>
                }
              </div>
              }
            </div>
            <div>
              <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
              <input type="password" id="password" formControlName="password" required
                class="mt-1 block w-full px-3 py-2 bg-gray-700 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-purple-500 focus:border-purple-500" />
              @if (signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty ||
              signupForm.get('password')?.touched)) {
              <div class="text-red-500 text-sm">
                @if (signupForm.get('password')?.errors?.['required']) {
                <div>
                  Password is required.
                </div>
                }
              </div>
              }
            </div>
            <div>
              <label for="confirm-password" class="block text-sm font-medium text-gray-700">Confirm Password</label>
              <input type="password" id="confirm-password" formControlName="passwordConfirm" required
                class="mt-1 block w-full px-3 py-2 bg-gray-700 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-purple-500 focus:border-purple-500" />
              @if (signupForm.get('passwordConfirm')?.invalid && (signupForm.get('passwordConfirm')?.dirty ||
              signupForm.get('passwordConfirm')?.touched)) {
              <div class="text-red-500 text-sm">
                @if (signupForm.get('passwordConfirm')?.errors?.['required']) {
                <div>
                  Confirm Password is required.
                </div>
                }
              </div>
              }
            </div>
            <div>
              <label for="role" class="block text-sm font-medium text-gray-700">Role</label>
              <input type="text" id="role" formControlName="role" placeholder="Customer" required
                class="mt-1 block w-full px-3 py-2 bg-gray-700 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-purple-500 focus:border-purple-500" />
              @if (signupForm.get('role')?.invalid && (signupForm.get('role')?.dirty ||
              signupForm.get('role')?.touched)) {
              <div class="text-red-500 text-sm">
                @if (signupForm.get('role')?.errors?.['required']) {
                <div>
                  Role is required.
                </div>
                }
              </div>
              }
            </div>
            <div class="flex flex-row space-x-2">
              <button type="submit"
                class="min-w-[100px] max-w-[200px] bg-gradient-to-r from-teal-400 to-blue-500 flex justify-center py-2 px-4 border border-purple-600 rounded-md shadow-sm text-sm font-medium text-white hover:bg-purple-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
                Sign up
              </button>
              <button [routerLink]="['/login']" type="button"
                class="min-w-[100px] max-w-[200px] flex justify-center py-2 px-4 border border-purple-600 rounded-md shadow-sm text-sm font-medium text-purple-600 bg-gray-700 hover:bg-purple-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
                Login
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- <div class="w-full m-2 py-8 px-6 sm:px-8 lg:px-12">
  <div class="bg-white rounded-2xl shadow-xl overflow-hidden flex flex-col lg:flex-row min-h-screen">
    
    Left Image Section
    <div
      class="hidden w-full lg:block lg:w-1/2 bg-cover bg-center"
      style="background-image: url('https://static2.realme.net/images/realme-narzo-70x/experience/pc-08-MatrixSystem2.0.jpg')"
    ></div>

    Right Signup div Section
    <div class="w-full lg:w-1/2 flex items-center justify-center p-8">
      <div class="bg-white rounded-2xl shadow-xl p-8 w-full max-w-md">
        <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl">
          <span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Sign Up</span>
        </h1>
        <p class="mb-6 text-gray-600">Create your account. It's free and only takes a minute.</p>
        <div>
          <div class="space-y-4">
            <div>
              <label for="name" class="block text-sm font-medium text-gray-700">Full Name</label>
              <input
                type="text"
                id="name"
                [(ngModel)]="signupdetails.name"
                name="name"
                placeholder="John Doe"
                required
                class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-purple-500 focus:border-purple-500"
              />
            </div>
            <div>
              <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
              <input
                type="email"
                id="email"
                [(ngModel)]="signupdetails.email"
                name="email"
                placeholder="john@example.com"
                required
                class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-purple-500 focus:border-purple-500"
              />
            </div>
            <div>
              <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
              <input
                type="password"
                id="password"
                [(ngModel)]="signupdetails.password"
                name="password"
                required
                class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-purple-500 focus:border-purple-500"
              />
            </div>
            <div>
              <label for="confirm-password" class="block text-sm font-medium text-gray-700">Confirm Password</label>
              <input
                type="password"
                id="confirm-password"
                [(ngModel)]="signupdetails.passwordConfirm"
                name="confirm-password"
                required
                class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-purple-500 focus:border-purple-500"
              />
            </div>
            <div>
              <label for="role" class="block text-sm font-medium text-gray-700">Role</label>
              <input
                type="text"
                id="role"
                [(ngModel)]="signupdetails.role"
                name="role"
                placeholder="Customer"
                required
                class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-purple-500 focus:border-purple-500"
              />
            </div>
            <div class="flex flex-row space-x-2">
              <button
                (click)="signUp()"
                type="button"
                class="min-w-[100px] max-w-[200px] bg-gradient-to-r from-teal-400 to-blue-500 flex justify-center py-2 px-4 border border-purple-600 rounded-md shadow-sm text-sm font-medium text-white hover:bg-purple-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500"
              >
                Sign up
              </button>
              <button
                [routerLink]="['/login']"
                type="button"
                class="min-w-[100px] max-w-[200px] flex justify-center py-2 px-4 border border-purple-600 rounded-md shadow-sm text-sm font-medium text-purple-600 bg-white hover:bg-purple-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500"
              >
                Login
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->