/* Scrollbar styles */
.overflow-x-auto::-webkit-scrollbar {
  height: 8px;
}

.overflow-x-auto::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-lg;
}

.overflow-x-auto::-webkit-scrollbar-track {
  @apply bg-gray-200;
}
.overflow-x-auto {
    scrollbar-width: thin;
    scrollbar-color: #a0aec0 #edf2f7;
}

/* Optional: Add spacing between buttons */
:host ::ng-deep .p-button {
  @apply mr-2;
}