
<div class="min-h-screen flex flex-col">
  <div class="flex flex-1 mt-[64px] overflow-hidden">
    <main class=" fixed flex-1 ml-20 px-4 pt-8 overflow-y-auto">
        <div class="bg-gray-100 w-full mx-auto p-6 shadow-md rounded-lg font-roboto mb-8"> <--- Moved and added mb-8
            <div class="flex space-x-4">
                <!-- <button *ngFor="let item of componentNavItems"
                        (click)="navigateToComponent(item.component)"
                        [ngClass]="{'bg-blue-500 text-white': activeComponent === item.component, 'text-gray-700': activeComponent !== item.component}"
                        class="px-4 py-2 rounded hover:bg-blue-200 transition duration-300">
                  {{ item.label }}
                </button> -->
                <div class="bg-gray-100 w-full mx-auto p-6 shadow-md rounded-lg font-roboto mb-8">
                  <div class="card flex justify-center">
                    <p-selectButton [options]="componentNavItems" [(ngModel)]="activeComponent" optionLabel="label" optionValue="component" aria-labelledby="basic" (onChange)="navigateToComponent(activeComponent)"></p-selectButton>
                  </div>
                </div>
                
                <div class="container mx-auto mt-8">
                  <ng-container *ngComponentOutlet="activeComponent"></ng-container>
                </div>
            </div>
        </div>
    </main>
     </div>
</div>