.light-red {
  background-color: #ffcccc !important; /* Light red */
  color: #8b0000 !important; /* Dark red text */
  font-weight: bold;
}

.light-green {
  background-color: #ccffcc !important; /* Light green */
  color: #006400 !important; /* Dark green text */
  font-weight: bold;
}

.light-orange {
  background-color: #ffe0b3 !important; /* Light orange */
  color: #d35400 !important; /* Dark orange text */
  font-weight: bold;
}

.light-yellow {
  background-color: #ffffcc !important; /* Light yellow */
  color: #8b8000 !important; /* Dark yellow text */
  font-weight: bold;
}

.red-row{
  background-color: #ffcccc !important; /* Light red */
  color: #8b0000 !important; /* Dark red text */
  font-weight: bold;
}