<!-- 
   <div style="height: 100%; display: flex; flex-direction: column">
      <p style="flex: 0 1 0%">
        Theme:
        <select style="margin-right: 16px" [(ngModel)]="baseTheme">
          <option
            *ngFor="let baseTheme of baseThemes"
            [ngValue]="baseTheme.value"
          >
            {{ baseTheme.id }}
          </option>
        </select>
        Icons:
        <select style="margin-right: 16px" [(ngModel)]="iconSet">
          <option *ngFor="let iconSet of iconSets" [ngValue]="iconSet.value">
            {{ iconSet.id }}
          </option>
        </select>
        Color scheme:
        <select style="margin-right: 16px" [(ngModel)]="colorScheme">
          <option
            *ngFor="let colorScheme of colorSchemes"
            [ngValue]="colorScheme.value"
          >
            {{ colorScheme.id }}
          </option>
        </select>
      </p>
      <div style="flex: 1 1 0%">
  <div class="ag-theme-quartz-dark rounded-lg shadow-lg overflow-hidden w-full">
    <div class="relative w-full h-[500px]">
      <ag-grid-angular
      style="height: 100%;"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [theme]="theme"
      [defaultColDef]="defaultColDef"
      [pagination]="true"
      [rowSelection]="rowSelection"
      [rowClassRules]="rowClassrules"
      (cellValueChanged)="onCellValueChanged($event)"
      (rowSelected)="onRowSelected($event)"
      (cellClicked)="onCellClicked($event)"
      (gridReady)="onGridReady($event)">
    </ag-grid-angular>
  </div>
</div>
</div> -->
<div class="ag-grid-container">
  <div class="ag-theme-quartz-dark rounded-lg shadow-lg overflow-hidden w-full">
    <div class="relative w-full h-[500px]">
      <ag-grid-angular style="height: 100vh" [rowData]="rowData" [columnDefs]="columnDefs" [theme]="theme"
        [defaultColDef]="defaultColDef" [pagination]="true" [rowSelection]="rowSelection"
        [rowClassRules]="rowClassrules" (cellValueChanged)="onCellValueChanged($event)"
        (rowSelected)="onRowSelected($event)" (cellClicked)="onCellClicked($event)" (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>
</div>
<!-- [paginationPageSizeSelector]="pagesizeselector" -->

<!-- <div class="flex justify-end mt-4">
      <button 
        (click)="exportToCSV()" 
        class="bg-blue-500 text-white px-6 py-2 rounded-md hover:bg-blue-700 focus:ring-2 focus:ring-blue-300 transition duration-300">
        Export CSV
      </button>
    </div> -->


<!-- Export Button -->
<!-- <div class="ag-theme-quartz-dark rounded-lg shadow-lg overflow-hidden w-full">
    <div class="relative w-full h-[500px]">
      <ag-grid-angular
        style="height: 100%;"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [theme]="theme"
        [defaultColDef]="defaultColDef"
        [pagination]="true"
        rowSelection="multiple"
        (cellValueChanged)="onCellValueChanged($event)"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  
    <div class="flex justify-end mt-4">
      <button 
        (click)="exportToCSV()" 
        class="bg-blue-500 text-white px-6 py-2 rounded-md hover:bg-blue-700 focus:ring-2 focus:ring-blue-300 transition duration-300">
        Export CSV
      </button>
    </div>
  </div> -->