<div class="flex flex-col lg:flex-row min-h-screen">
  <div pFocusTrap
    class="hidden w-[300px] rounded-2xl h-[450px] mt-[145px] ml-[30px] lg:block lg:w-3/5 bg-cover bg-center" style="
      background-image: url('https://static2.realme.net/images/realme-narzo-70x/experience/pc-08-MatrixSystem2.0.jpg');
    "></div>

  <div class="w-full lg:w-2/5 flex items-center justify-center p-8">
    <div class="bg-white rounded-2xl shadow-xl p-8 w-full max-w-md">
      <h1 class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-4xl">
        <span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Login</span>
      </h1>
      <p class="mb-6 text-gray-600">Welcome back! Please enter your details.</p>
      <div>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="space-y-4">
          <div>
            <label for="username" class="block text-sm font-medium text-gray-700">
              User
            </label>
            <input id="username" formControlName="email" required
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-purple-500 focus:border-purple-500" />
            <div *ngIf="
                loginForm.get('email')?.invalid &&
                (loginForm.get('email')?.dirty ||
                  loginForm.get('email')?.touched)
              " class="text-red-500 text-sm">
              <span *ngIf="loginForm.get('email')?.errors?.['required']">Email is required</span>
              <span *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email format</span>
            </div>
          </div>

          <div>
            <label for="password" class="block text-sm font-medium text-gray-700">
              Password
            </label>
            <input id="password" formControlName="password" type="password" required
              class="mt-1 block w-full px-3 py-2 text-gray-600 bg-gray-50 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-purple-500 focus:border-purple-500" />
            <div *ngIf="
                loginForm.get('password')?.invalid &&
                (loginForm.get('password')?.dirty ||
                  loginForm.get('password')?.touched)
              " class="text-red-500 text-sm">
              <span *ngIf="loginForm.get('password')?.errors?.['required']">Password is required</span>
              <span *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters
                long</span>
            </div>
          </div>

          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <input id="remember-me" name="remember-me" type="checkbox"
                class="h-4 w-4 text-purple-600 focus:ring-purple-500 border-gray-300 rounded" />
              <label for="remember-me" class="ml-2 block text-sm text-gray-900">
                Remember me
              </label>
            </div>
            <div class="text-sm">
              <a [routerLink]="['/reset-password']" class="font-medium text-purple-600 hover:text-purple-500">Forgot
                your password?</a>
            </div>
          </div>

          <div class="flex flex-row space-x-2">
            <button type="submit" [disabled]="loginForm.invalid"
              class="w-full bg-gradient-to-r from-teal-400 to-blue-500 flex justify-center py-2 px-4 border border-purple-600 rounded-md shadow-sm text-sm font-medium text-white hover:bg-purple-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500">
              Login
            </button>
          </div>
        </form>
        <div class="mt-6 text-center">
          <p class="text-sm text-gray-600">
            Don't have an account?
            <a [routerLink]="['/signup']" class="font-medium text-purple-600 hover:text-purple-500">Sign up</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <section class="relative flex flex-wrap lg:h-screen lg:items-center">
  <div class="w-full px-4 py-12 sm:px-6 sm:py-16 lg:w-1/2 lg:px-8 lg:py-24">
    <div class="mx-auto max-w-lg text-center">
      <h1
      class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-4xl"
    >
      <span
        class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
        >Login</span
      >
    </h1>
    </div>

    <div  class="mx-auto mt-8 mb-0 max-w-md space-y-4">
      <div>
        <label for="email" class="sr-only border-2 border-indigo-600">Email</label>
        <div class="relative">
          <input
          type="email"  [(ngModel)]="logindetails.email"
          class="w-full rounded-lg border-2 border-indigo-600 border-gray-200 p-4 pe-12 text-sm shadow-xs"
          placeholder="Enter email"
        />
          <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4 text-gray-400"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"
              />
            </svg>
          </span>
        </div>
      </div>

      <div>
        <label for="password" class="sr-only">Password</label>

        <div class="relative">
          <input [(ngModel)]="logindetails.password"
            type="password"
            class="w-full border-2 border-indigo-600 rounded-lg border-gray-200 p-4 pe-12 text-sm shadow-xs"
            placeholder="Enter password"
          />

          <span class="absolute inset-y-0 end-0 grid place-content-center px-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="size-4 text-gray-400"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
              />
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
              />
            </svg>
          </span>
        </div>
      </div>

      <div class="flex items-center justify-between">
        <p class="text-sm text-white-500 ">
          No account?
          <a class="underline"           [routerLink]="['/signup']"          >Sign up</a>
        </p>

        <button
          type="submit"  (click)="onLogin()"
          class="inline-block rounded-lg bg-blue-500 px-5 py-3 text-sm font-medium text-white"
        >
          Sign in
        </button>
      </div>
    </div>
  </div>

  <div class="relative h-64 w-full sm:h-96 lg:h-full lg:w-1/2">
    <img
      alt=""
      src="https://images.unsplash.com/photo-1630450202872-e0829c9d6172?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=divat&fit=crop&w=774&q=80"
      class="absolute inset-0 h-full w-full object-cover"
    />
  </div>
</section> -->
<!-- 
<div class="flex flex-col lg:flex-row min-h-screen">
  Left Image Section
  <div
    class="hidden w-[300px] rounded-2xl h-[450px] mt-[145px] ml-[30px] lg:block lg:w-3/5 bg-cover bg-center"
    style="
      background-image: url('https://static2.realme.net/images/realme-narzo-70x/experience/pc-08-MatrixSystem2.0.jpg');
    "
  ></div>

  Right Login div Section
  <div class="w-full lg:w-2/5 flex items-center justify-center p-8">
    <div class="bg-white rounded-2xl shadow-xl p-8 w-full max-w-md">
      <h1
        class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-4xl"
      >
        <span
          class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400"
          >Login</span
        >
      </h1>
      <p class="mb-6 text-gray-600">Welcome back! Please enter your details.</p>
      <div>
        <div class="space-y-4">
          <div>
            <label
              for="username"
              class="block text-sm font-medium text-gray-700"
            >
              User
            </label>
            <input
              id="username"
              [(ngModel)]="logindetails.email"
              name="email"
              required
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-purple-500 focus:border-purple-500"
            />
          </div>
          <div>
            <label
              for="password"
              class="block text-sm font-medium text-gray-700"
            >
              Password
            </label>
            <input
              id="password"
              [(ngModel)]="logindetails.password"
              name="password"
              type="password"
              required
              class="mt-1 block w-full px-3 py-2 text-gray-600 bg-gray-50 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-purple-500 focus:border-purple-500"
            />
          </div>
          <div class="flex items-center justify-between">
            <div class="flex items-center">
              <input
                id="remember-me"
                name="remember-me"
                type="checkbox"
                class="h-4 w-4 text-purple-600 focus:ring-purple-500 border-gray-300 rounded"
              />
              <label for="remember-me" class="ml-2 block text-sm text-gray-900">
                Remember me
              </label>
            </div>
            <div class="text-sm">
              <a
                [routerLink]="['/reset-password']"
                class="font-medium text-purple-600 hover:text-purple-500"
                >Forgot your password?</a
              >
            </div>
          </div>
          <div class="flex flex-row space-x-2">
            <button
              (click)="onLogin()"
              type="submit"
              class="w-full bg-gradient-to-r from-teal-400 to-blue-500 flex justify-center py-2 px-4 border border-purple-600 rounded-md shadow-sm text-sm font-medium text-white hover:bg-purple-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-purple-500"
            >
              Login
            </button>
          </div>
        </div>
        <div class="mt-6 text-center">
          <p class="text-sm text-gray-600">
            Don't have an account?
            <a
              [routerLink]="['/signup']"
              class="font-medium text-purple-600 hover:text-purple-500"
              >Sign up</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div> -->