/* You can add global styles to this file, and also import other style files */
/* Global styles for the layouts */
main {
    display: flex;
    flex-direction: column;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
  }
  
  aside {
    width: 250px;
    background-color: #f4f4f4;
    padding: 1rem;
  }
  
  .content {
    flex-grow: 1;
    padding: 20px;
  }
  
  .main-content {
    display: flex;
  }
  /* Global styles (styles.css or styles.scss) - Use with caution */
.p-inputtext {
  color: black; /* Or #000; */
}

/* More specific approach (recommended) - Add a class to a parent element */
.my-form .p-inputtext {
  color: black;
}

/* Targeting inputs inside p-floatLabel */
.p-floatlabel .p-inputtext {
    color: black;
}

/* Component-specific styles (my-component.component.scss) - Best practice */
:host ::ng-deep .p-inputtext{ /*for view encapsulation*/
  color: black;
}
