<!-- <main class="flex-1   overflow-y-auto w-full relative">
    <div class="sticky top-0 z-10 w-full  shadow-md rounded-lg font-roboto">
    <div class="card flex justify-center">
      <p-selectButton [options]="componentNavItems" [(ngModel)]="activeComponent" optionLabel="label" optionValue="component" aria-labelledby="basic" (onChange)="navigateToComponent(activeComponent)"></p-selectButton>
    </div>
  </div>

  <div class="mt-1">
    <ng-container *ngComponentOutlet="activeComponent"></ng-container>
  </div>
</main>


<router-outlet></router-outlet> -->
<main class="flex-1 overflow-y-auto w-full relative">
  <div class="sticky top-0 z-10 w-full shadow-md rounded-lg font-roboto">
    <div class="card flex justify-center">
      <p-selectButton 
        [options]="componentNavItems" 
        [(ngModel)]="activeRoute"
        optionLabel="label" 
        optionValue="route" 
        (onChange)="navigateToComponent(activeRoute)">
      </p-selectButton>
    </div>
  </div>

  <div class="mt-1">
    <router-outlet></router-outlet>
  </div>
</main>
